body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fcfcfc;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #434455;
  letter-spacing: 3%;
}

.logo-web {
  color: #4d5ae5;
}
